<!doctype html>
<html>
<head>
    <title>Fitness App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
       
        <section class="topSection">
            <div class="intro"><h1>Bodies by Ana</h1></div>
            <div class="introText"><h2>why BBL when you can BBA? (Bodies by Ana)</h2></div>
          </section>
    
          <section class="bottomSection">
            <section class="workout">
              <section class="sectionLeft">
                
                <div class="text1">
                  <h2>Free Workout Plans</h2>
                </div>
                
                <div class="text2">
                  <p>We offer free workouts created by fitness experts, suitable for any goal  or experience level.</p>
                  <div><a href="/workout"><button type="button" class="btn btn-primary btn-lg workoutButton">View Workouts</button></a></div> 
                </div>
              </section>
              
              <section class="sectionRight">
                <img src="img/gymimg1.jpg" alt="gym">
              </section>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
