<!doctype html>
<html>
<head>
    <title>Fitness App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>The Beginning</h1>
        <div class="introText"><h2>Why BBL when you can BBA? (Bodies by Ana)</h2></div>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

  

<div class="text1">
  <h2>Workout Plans</h2>
</div>

<div class="text2">
  <p></p>
  <div><a href="/workout"><button type="button" class="btn btn-primary btn-lg workoutButton">View Workouts</button></a></div> 
</div>

<div class="text1">
  <h2>Stay Thirsty</h2>
</div>
<div class="text2">
  <p></p>
  <div><a href="/hydration-tracker"><button type="button" class="btn btn-primary btn-lg hydrationButton">Hydration Tracker</button></a></div> 
</div>


<script src="main.js"></script>

</body>
</html>
