<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">

    <script src="https://kit.fontawesome.com/6402ca9563.js" crossorigin="anonymous"></script>
    
    <title>Fitness App</title>

</head>
<body>
  
  <header>
    
      <section class="links">
        <ul>
          <li><a href="/profile">Home</a></li>
          <li><a href="/workout">Free Workouts</a></li>
          <li><a href="/hydration-tracker">Hydration Tracker</a></li>
        </ul>
      </section>

  </header>


        <section class="topSection">
          <div class="workoutIntro"><h1>Free Workout Programs</h1></div>
          <p>welcome to the basics</p>
        </section>
    

          <section class="workoutContainer">
            

              <section class="back">
                <button type="button" class="btn btn-primary btn-lg lowerBackButton">Lower Back</button>
              </section>
              
              <section class="abs">
                <button type="button" class="btn btn-primary btn-lg absButton">Abdominals</button>
              </section>
              
              <section class="bicep">
                <button type="button" class="btn btn-primary btn-lg bicepsButton">Biceps</button>
              </section>

            

              <section class="leg">
               <button type="button" class="btn btn-primary btn-lg glutesButton">Glutes</button>
              </section>
              
              <section class="chest">
                <button type="button" class="btn btn-primary btn-lg chestButton">Chest</button>
               </section>
              
               <section class="traps">
                <button type="button" class="btn btn-primary btn-lg trapsButton">Traps</button>
               </section>
            
    

                    <h3 class="backText sectionOneName"></h3>
                  <ol class="workoutSections">
                    <section class="sectionOneInstructions"></section>
                  </ol>

                  <h3 class="backText sectionTwoName"></h3>
                  <ol class="workoutSections">
                    <li class="sectionTwoInstructions"></li>
                  </ol>
            
                  <h3 class="backText sectionThreeName"></h3>
                  <ol class="workoutSections">
                    <li class="sectionThreeInstructions"></li>
                  </ol>
         
                 
                  <h3 class="backText sectionFourName"></h3>
                  <ol class="workoutSections">
                    <li class="sectionFourInstructions"></li>
                  </ol>
               
                   
                    <h3 class="backText sectionFiveName"></h3>
                    <ol class="workoutSections">
                      <li class="sectionFiveInstructions"></li>
                   </ol>
                        
                    <h3 class="backText sectionSixName"></h3>
                    <ol class="workoutSections">
                      <li class="sectionSixInstructions"></li>
                    </ol>
            </section>

    
      <footer> </footer>
      <script src="main.js"></script>  
</body>
</html>